translation_5.4.2/translation_unfinished/com
translation_5.4.2/translation_unfinished/opt
translation_5.4.2/translation_unfinished/usr
translation_5.4.2/translation.orig
translation_5.4.2/translation_jar
translation_5.4.2.jar
translation.jar
build
overlay
kindle_loc.sqlite.old
install
